<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <body>
        <h:form>
            <p:growl id="msgs" showDetail="true" />
            <!--            <h:outputLabel>
                          Bem vindo  
                        </h:outputLabel>-->

            <h:panelGrid columns="2" cellpadding="5">
                <p:outputLabel for="nome" value="Nome"  />
                <p:inputText  id = "nome"  value="" size="41" />
                <p:outputLabel value="Descrição:" />
                <p:inputTextarea rows="9" cols="43" />
                <p:outputLabel for="date" value="Data do Evento" />

                <p:inputMask id="date"  mask="99/99/9999" size="41"/>
                
                <p:commandButton value="salvar"  icon="ui-icon-check" />
                <p:commandButton value="Reset"  />


            </h:panelGrid>
        </h:form>

    </body>
</html>
