<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui" >
    <h:head>
        <title>TODO supply a title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <body>
        <h:form>


            <p:growl id="msgs" showDetail="true" />

            <h:panelGrid columns="2" cellpadding="5">
                <p:outputLabel for="nome" value="Nome" />
                <p:inputText  id = "nome"  value="" />

                <p:outputLabel value="Descrição:" />

                <p:inputTextarea rows="9" cols="43" />
                <p:commandButton value="salvar" update="msgs" actionListener="#{index.xml}" icon="ui-icon-check" />
                <p:commandButton value="Reset" type="reset" />



            </h:panelGrid>


        </h:form>
    </body>
</html>
