<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Aluno</title>
    </h:head>
    <h:body>
        <h:form>
            <p:growl id="msgs" showDetail="true" />


            <h:panelGrid columns="2" cellpadding="5">

                <p:outputLabel for="nome" value="Nome" />
                <p:inputText  id = "nome"  value="" size="41" />

                <p:outputLabel for="matricula" value="Matricula" />

                <p:inputText  id = "matricula"  value="" size="41" />

                <p:outputLabel for="date" value="Data de Nascimento:"  />

                <p:inputMask id="date" value="#{controlador.data}" mask="99/99/9999" size="41"/>

                <p:outputLabel for="sexo" value="Sexo:" />
                <p:selectOneRadio id="sexo" value="">
                    <f:selectItem itemLabel="Masculino" itemValue="Masculino" />
                    <f:selectItem itemLabel="Feminino" itemValue="Feminino" />
                </p:selectOneRadio>
                <p:outputLabel for="telefone1" value="Telefone(1):" />
                <p:inputMask id="telefone1" value="" mask="(999) 999-9999" size="41"/>

                <p:outputLabel for="telefone2" value="Telefone(2):" />
                <p:inputMask id="telefone2" value="" mask="(999) 999-9999? x99999" size="41"/>

                <p:outputLabel for="email"  value="Email: " />
                <p:inputText  id = "email"  value="" size="41" />

                <p:outputLabel for="senha"  value="Senha: " />
                <p:password id="senha" value="" size="41" />

                <p:outputLabel for="curso"  value="Curso: " />
                <p:inputText  id = "curso"  value="" size="41"/>

                <p:commandButton value="salvar" update="msgs" actionListener="#{index.xml}" icon="ui-icon-check" />
                <p:commandButton value="Reset" type="reset" />

            </h:panelGrid>


        </h:form>

    </h:body>
</html>
