<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"  
      xmlns:f="http://java.sun.com/jsf/core"  
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Bem Vindo ao Dood</title>
    </h:head>
    <h:body>
        <h2>Teste</h2>
        <!-- Solicitar Cadastro -->
        <h:form>
            <p:outputLabel value="Informe seu e-mail:" />   
            <p:inputText value="#{conviteControlador.convite.email}" />
            <h:commandButton action="#{conviteControlador.submeterConvite()}" value="Solicitar"/>
        </h:form>

        <!-- Logar -->
        <h:form>
            <h:panelGrid columns="2" cellpadding="5">  
                <p:outputLabel value="Informe seu e-mail:" />   
                <p:inputText value="#{loginControlador.email}" />

                <p:outputLabel for="senha"  value="Senha: " />
                <p:password id="senha" value="#{loginControlador.senha}" />

            </h:panelGrid>  
            <h:commandButton value="Submit" action="#{loginControlador.login()}" />
        </h:form>        

    </h:body>
</html>

